{% extends 'layout/layout.twig' %}

{% block content %}
    {{ form(form) }}

    <section>
        <p>You have {{ todos|length }} items in your todo list.</p>
        {% for item in todos %}
            {% spaceless %}
                <p {{ item.done ? 'class="done"' }}>
                    <span class="task-id">{{ item.id }}.</span>
                    {{ item.task }}{{ item.done ? ' - Done!' }}
                </p>
            {% endspaceless %}
        {% endfor %}
    </section>
{% endblock content %}
