{% extends 'layout/layout.twig' %}

{% block content %}
{% spaceless %}
    {{ form(form) }}

    <section>
        <p class="center">You have completed {{ todos|length > 0 ? (completedItems|length / todos|length * 100)|number_format(0) : 100 }}% of the items in your todo list</p>
        {% for item in todos %}
                <p class="row{{ item.done ? ' done' }}">
                    <span class="half column center task-id">{{ item.id }}.</span>
                    <span class="five column">{{ item.task }}{{ item.done ? ' - Done!' }}</span>
                    <span class="half column center">
                        <a href="{{ basePath() }}/complete/{{ item.id }}" class="check">✔</a>
                        <a href="{{ basePath() }}/delete/{{ item.id }}" class="delete">✖</a>
                    </span>
                </p>
        {% endfor %}
    </section>
{% endspaceless %}
{% endblock content %}
